[Unit]
Description=SNMP agent
After=network.target

[Service]
ExecStart=/usr/local/bin/snmp_agent
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=nobody
Group=nogroup
TimeoutStopSec=20
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
